/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2022, 12:09:26 AM
    Author     : Eduardo Trujillo
*/

/*AJUSTES A LA MEDIDA*/

div.dataTables_wrapper div.dataTables_length select{
    width: 75px;
}

#form_login {
    left: 50%;
    top: 40%;
    margin:auto;
}